@import "variables";
.test{
    font-size: 1rem;
    background-color: aqua;
}
h1{
    color: $red_color;
}
h2{
    color: green;
}
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}