<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Duan Oanh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              src="https://scontent.fdad3-5.fna.fbcdn.net/v/t1.6435-9/81038041_570207317158005_5121054790247251968_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_ohc=dra7dLCKI0AAX9Rkan4&_nc_ht=scontent.fdad3-5.fna&oh=00_AfBNQNxG4FOpfWdLUDfvEXHOyIuy7tp1UNcJEbfEb2shUw&oe=640BE478"
              alt="" class="user-avatar">
            Oanh Nguyễn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Thêm khóa học</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/me/trash/courses">Trash</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a href="/search" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true">Tìm kiếm</a>
      </form>
    </div>
  </div>
</nav>